
<a data-ui-sref="home">Home</a> &lt; <span>Budget Habits</span>

<br />

<!--
<categories categories="catList.categories"></categories>
-->

<div class="row" data-ng-controller="BudgetCategoryListController as vm">

	<div class="col-md-6">
	  <h3 class="h3">My Categories</h3>

	  <span class="text-danger" data-ng-if="vm.configuredCategory.length === 0">What do you want to start budgeting for?</span>

	  <ol>
	    <li class="ng-cloak" data-ng-repeat="configured in vm.configuredCategory">
	      {{configured.name}}
	    </li>
	  </ol>
	</div>

</div>
